<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="static/styles/ParkingMeter.png">
    <title>Meter Maid Watcher</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/web.css')}}">
  </head>

  <body>
    <main>
        <div id="buttons">
            <form method="post" action="/">
                <label>Meter Maid spotted near you.</label>
                <input id="go-back" type="submit" name ="go_back" value="Back to Home">
            </form>
        </div>
    </main>
  </body>
</html>